body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}

#container1 {
    text-align: center;
    padding: 10px 5px;
    margin: 50px 10px;
}

.header {
    line-height: 0.7;
}

h1.light {
    font-size: 1.9rem;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    color: hsl(229, 6%, 66%);
}

h1.bold {
    font-size: 1.9rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p.para {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: hsl(229, 6%, 66%);
    margin: 25px 0 5px 0;
}


#container2 {
    margin: 20px 10px;
}
.card2 {
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-style: solid;
    border-top-color:  hsl(0, 78%, 62%);
    width: 20%;
    height: 30%;
    position: absolute;
    left: 40%;
    top: 35%;
    box-sizing: content-box;
}

.img2 {
    position: absolute;
    left: 77%;
    bottom: 15%;
}

.team {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    color: hsl(234, 12%, 34%);
}

.para2 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: hsl(229, 6%, 66%);
}

.group2 {
    line-height: 1.5;
    padding: 5px 17px;
    margin: 0px 2px 2px 2px;
}

.card1 {
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-style: solid;
    border-top-color:  hsl(180, 62%, 55%);
    width: 20%;
    height: 30%;
    position: absolute;
    left: 18%;
    top: 50%;
    box-sizing: content-box;
}

.img1 {
    position: absolute;
    left: 77%;
    bottom: 15%;
}

.supervisor {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    color: hsl(234, 12%, 34%);
}

.para1 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: hsl(229, 6%, 66%);
}

.group1 {
    line-height: 1.5;
    padding: 5px 17px;
    margin: 0px 2px 2px 2px;
}

.card4 {
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-style: solid;
    border-top-color:  hsl(212, 86%, 64%);
    width: 20%;
    height: 30%;
    position: absolute;
    right: 18%;
    top: 50%;
    box-sizing: content-box;
}

.img4 {
    position: absolute;
    left: 77%;
    bottom: 23%;
}

.calculator {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    color: hsl(234, 12%, 34%);
}

.para4 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: hsl(229, 6%, 66%);
}

.group4 {
    line-height: 1.5;
    padding: 5px 17px;
    margin: 0px 2px 2px 2px;
}

.card3 {
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-top-style: solid;
    border-top-color:  hsl(34, 97%, 64%);
    width: 20%;
    height: 30%;
    position: absolute;
    left: 40%;
    bottom: 0.5%;
    box-sizing: content-box;
}

.img3 {
    position: absolute;
    left: 77%;
    bottom: 15%;
}

.karma {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 0.95rem;
    color: hsl(234, 12%, 34%);
}

.para3 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: hsl(229, 6%, 66%);
}

.group3 {
    line-height: 1.5;
    padding: 5px 17px;
    margin: 0px 2px 2px 2px;
}

 @media screen and (max-width: 1024px) {
    .card1, .card2, .card3, .card4 {
        position: static;
        margin: 0 30% 5% 30%;
        padding-bottom: 10%;
        display: block;
        width: 40%;
    }   
    .img1, .img2, .img3, .img4 {
        position: relative;
        top: 40px;
        right: 10px;
    }  
}

@media screen and (max-width: 620px) {
    #container1 {
        text-align: center;
        padding: 20px 0;
        margin: 50px 20px;
    }
    p.para br {
        display: none;
    }
    p.para {
        font-size: 1rem;
    }
    .card1, .card2, .card3, .card4 {
        margin: 0 10% 5% 10%;;
        padding-bottom: 10%;
        width: 80%;
    }   
    .supervisor, .team, .karma, .calculator {
        font-size: 1.1rem;
    }
    .para1, .para2, .para3, .para4 {
        font-size: 0.8rem;
    }

    .img1, .img2, .img3, .img4 {
        position: relative;
        top: 30px;
        right: 10px;
    }  
}

@media screen and (max-width: 375px) {
    h1.light {
        font-size: 1.4rem;
    }
    h1.bold {
        font-size: 1.4rem;
    }
}